{% extends 'base.html' %}
{% load bootstrap3 %}
{% block body %}
  {% if validlink %}

  <div class="w3_login">
    <h3>Change password</h3>
    <div class="w3_login_module">
      <div class="module form-module">
        <div class="toggle">
        </div>
        <div class="form">

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Submit">
    </form>
  </div>
  </div>
    </div>
    </div>

  {% else %}
  <div class="container">
  <div class="jumbotron">

  <div class="container">

    <li>The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.</li>
    </div>

    <br>
    <br>
</div>
</div>

  {% endif %}
{% endblock %}
