{% extends 'base.html' %}

{% block body %}
<br>
<br>
<div class="container">
<div class="jumbotron">

<div class="container">

  <li>We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</li>
  </div>

  <br>
  <br>

  <div class="container">
    <li>If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</li>

    </div>

  </div>
  </div>
  <br>
  <br>
{% endblock %}
