{% extends "base.html" %}
{% load bootstrap3 %}
{% block body %}

<s<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
			<div class="login-form-grids">
				<form method="post" class="animated wow slideInUp" data-wow-delay=".5s">
          {% csrf_token %}
          {% bootstrap_form form %}
					<div class="register-check-box">
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
						</div>
					</div>
					<input type="submit" value="Register">
				</form>
			</div>
			
			<h4 class="animated wow slideInUp" data-wow-delay=".5s">Existing user?</h4>
			<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="{% url 'accounts:login' %}">Login Here</a> (Or) go back to <a href="/">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>

		</div>
	</div>
<!-- //register -->


{% endblock %}
